{% import 'OroUIBundle::macros.html.twig' as UI %}

<div id="diam-default-branch-message"><i class="icon-warning-sign"></i> The Branch configured as a default for Email Processing and can't be deleted.</div>

<script>
    require(['jquery'], function($){
        $(document).ready(function(){
            $('.btn.remove-button').hide();
        });
    });
</script>