<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title"><%= title %></h4>
    </div>
    <div class="modal-body">
      <% _.each(messages, function(message){ %>
        <div class="alert alert-danger" role="alert"><i class="fa fa-exclamation-circle"></i> <%= message %></div>
      <% }); %>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->