{% import 'OroUIBundle::macros.html.twig' as ui %}

<div class="widget-content">
    <ul class="unstyled clearfix">
        {% for watcher in watchers %}
            <li class="diam-attachment">
                {{ render_user_name(watcher) }}
                <span class="pull-right">
                    <a href="{{ path('diamante_remove_watcher', { 'ticketId': ticket.id, 'user': watcher } ) }}">
                        <i class="icon-remove hide-text" title="{{ 'diamante.desk.ui.delete'|trans }}">
                            {{ 'diamante.desk.ui.delete'|trans }}
                        </i>
                    </a>
                </span>
            </li>
        {% endfor %}
    </ul>
</div>
