<div class="row">
  <div class="col-xs-6 copyright small">
    <%= __('diamante_front.footer.template.copyright', {
      license : '<a href="http://opensource.org/licenses/osl-3.0.php" target="_blank">OSL 3.0</a>',
      company : '<a href="http://eltrino.com" target="_blank">Eltrino LLC</a>'
    }) %>
  </div>
  <div class="col-xs-6 text-right text-muted small">

  </div>
</div>
