<div class="row">
  <div class="col-xs-6 copyright text-muted small">
    Diamante is released under <a href="http://opensource.org/licenses/osl-3.0.php">OSL 3.0</a> License
    by <a href="http://eltrino.com">Eltrino LLC</a>
  </div>
  <div class="col-xs-6 text-right text-muted small">
    Revision <span class="revision">8b5527a</span>
  </div>
</div>
