/.settings
/.buildpath
/.project
/.idea
/node_modules
/composer.phar
/build/logs/*
/vendor
/cov
behat.yml
/var/*
!var/cache/
/var/cache/*
!var/cache/.gitkeep
!var/logs/
/var/logs/*
!var/logs/.gitkeep
!var/attachment/
/var/attachment/*
!var/attachment/.gitkeep
!var/attachments/
/var/attachments/*
!var/attachments/.gitkeep
!var/import_export/
/var/import_export/*
!var/import_export/.gitkeep
!var/oro-check.php
!var/OroRequirements.php
!var/DiamanteDeskRequirements.php
/public/bundles
/public/css
/public/js
/public/uploads/users/*
/public/uploads/attachments/*
/public/uploads/branch/*
/public/media/cache
/public/media/js
/public/build.js
/config/parameters.yml
/config/parameters_test.yml
*~
bin/*
!bin/console
!bin/dist
phpunit.xml
/var/SymfonyRequirements.php
/public/uploads/behat
/.web-server-pid
/.vagrant
