<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "false"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
    syntaxCheck                 = "false">

    <testsuites>
        <testsuite name="DiamanteDesk Test Suite">
            <directory suffix="Test.php">Tests/Api</directory>
            <directory suffix="Test.php">Tests/Infrastructure</directory>
            <directory suffix="Test.php">Tests/EventListener</directory>
            <directory suffix="Test.php">Tests/Model</directory>
            <directory suffix="Test.php">Tests/Attachment</directory>
            <directory suffix="Test.php">Tests/Entity</directory>
            <directory suffix="Test.php">Tests/Ticket</directory>
            <directory suffix="Test.php">Tests/Validator</directory>
            <directory suffix="Test.php">Tests/Twig</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>.</directory>
            <exclude>
                <directory>vendor</directory>
                <directory>Tests</directory>
                <directory>Resources</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
