diamante_automation:
    entities:
      ticket:
        class: "Diamante\DeskBundle\Entity\Ticket"
        frontend_label: diamante.desk.ticket.entity_label
        conditions: ['created', 'updated', 'removed']
        properties:
          status:
            frontend_label: diamante.desk.ticket.status.label
            frontend_options:
              source: "^\\Diamante\\DeskBundle\\Model\\Ticket\\Status::getValueToLabelMap"
            type: status
            conditions: ['eq', 'neq', 'changed', 'changed_from', 'changed_to']
          priority:
            frontend_label: diamante.desk.ticket.priority.label
            frontend_options:
              source: "^\\Diamante\\DeskBundle\\Model\\Ticket\\Priority::getValueToLabelMap"
            type: priority
            conditions: ['eq', 'neq', 'changed', 'changed_from', 'changed_to', 'gt', 'gte', 'lt', 'lte']
          branch:
            frontend_label: diamante.desk.ticket.branch.label
            frontend_options:
              source: "@diamante.autocomplete.branch.service->getBranches"
            type: branch
            conditions: ['eq', 'neq', 'contains']
          assignee:
            frontend_label: diamante.desk.ticket.assignee.label
            frontend_options:
              source: "@diamante.autocomplete.user.service->getOroUsers"
            type: user
            conditions: ['eq', 'neq', 'changed', 'changed_from', 'changed_to']
          reporter_email:
            frontend_label: diamante.desk.ticket.reporter_email.label
            type: virtual
            conditions: ['eq', 'neq', 'contains', 'not_contains']
            accessor: diamante_automation.ticket.property.processor::getReporterEmail
          source:
            frontend_label: diamante.desk.ticket.source.label
            frontend_options:
              source: "^\\Diamante\\DeskBundle\\Model\\Ticket\\Source::getValueToLabelMap"
            type: source
            conditions: ['eq', 'neq']
          subject:
            frontend_label: diamante.desk.ticket.subject.label
            type: string
          description:
            frontend_label: diamante.desk.ticket.description.label
            type: string
            conditions: ['contains', 'not_contains']
          sent_to:
            frontend_label: diamante.desk.ticket.created_via_email.label
            type: virtual
            conditions: ['eq', 'neq', 'contains', 'not_contains']
            accessor: diamante.ticket.email_processing_message_reference.repository::getEndpointByTicket
          created_at:
            frontend_label: diamante.desk.ticket.since_created.label
            type: datetime
            conditions: ['gt', 'gte', 'lt', 'lte']
            rules: ['business']
          updated_at:
            frontend_label: diamante.desk.ticket.since_updated.label
            type: datetime
            conditions: ['gt', 'gte', 'lt', 'lte']
            rules: ['business']
          status_updated_since:
            frontend_label: diamante.desk.ticket.since_status_updated.label
            type: datetime
            conditions: ['gt', 'gte', 'lt', 'lte']
            rules: ['business']
          assigned_since:
            frontend_label: diamante.desk.ticket.since_assignee_updated.label
            type: datetime
            conditions: ['gt', 'gte', 'lt', 'lte']
            rules: ['business']
      comment:
        class: "Diamante\DeskBundle\Entity\Comment"
        frontend_label: diamante.desk.comment.entity_label
        conditions: ['created', 'updated', 'removed']
        properties:
          content:
            frontend_label: diamante.desk.comment.content.label
            type: string
            conditions: ['contains', 'not_contains']
          private:
            frontend_label: diamante.desk.comment.private.label
            type: bool
            conditions: ['eq', 'neq', 'true', 'false']
          author:
            frontend_label: diamante.desk.comment.author.label
            frontend_options:
              source: "@diamante.autocomplete.user.service->getUsers"
            type: user
            conditions: ['is_admin', 'is_customer']
          author_email:
            frontend_label: diamante.desk.comment.author_email.label
            type: virtual
            conditions: ['contains', 'not_contains']
            accessor: diamante_automation.comment.property.processor::getAuthorEmail

    actions:
      move_to_branch:
        id: @diamante.desk.automation.action.move_to_branch
        frontend_label: diamante.desk.automation.action.move_to_branch
        data_types: ['virtual']

parameters:
  diamante.automation.action.move_to_branch.class: Diamante\DeskBundle\Automation\Action\MoveToBranchAction

services:
  diamante.automation.action.move_to_branch:
    class: %diamante.automation.action.move_to_branch.class%
    arguments: @doctrine