<div class="control-label wrap">
    <label for="automation-actions-name">Actions</label>
</div>
<div class="actions-list">

</div>
<% if(edit){ %>
<div class="actions-buttons pull-right">
    <div class="btn-group">
        <button type="button" class="btn btn-success" data-action="add-item">
            Add Action
        </button>
    </div>
</div>
<% } %>