<div class="control-group">
    <div class="control-label wrap">
        <label for="automation-actions-name">Actions</label>
    </div>
    <div class="actions-list">

    </div>
    <div class="pull-right">
        <div class="btn-group">
            <button type="button" class="btn btn-success" data-action="add">
                Add Action
            </button>
        </div>
    </div>
</div>