<form action="/" role="form">
  <div class="form-group required">
    <label class="control-label" for="email"><%= __('diamante_front.watcher.template.email_watcher') %></label>
    <input type="text"
           class="form-control"
           id="email"
           name="email"
           placeholder="<%= __('diamante_front.watcher.template.email_watcher') %>"
           value="">
  </div>
</form>