<form action="/" role="form">
  <div class="form-group required">
    <label class="control-label" for="email">Watcher Email</label>
    <input type="text"
           class="form-control"
           id="email"
           name="email"
           placeholder="Watcher Email"
           value="">
  </div>
</form>