<a href="mailto:<%= email %>"><%= username %></a><button class="btn btn-link js-watcher-delete" title="<%= __('diamante_front.watcher.template.remove_watcher') %>"><i class="fa fa-times"></i></button>