{% macro renderEdit(form) %}
    <div class="control-group">
        <div id="action-block">
            <div id="list-action"></div>
            <ul style="list-style-type: none">
                <li><a id="add-rule-action" class="editable">Add new action</a></li>
            </ul>
            {{ form_row(form.actions) }}
        </div>
    </div>
{% endmacro %}

{% macro renderView() %}
    <div class="control-group">
        <div id="action-block">
            <div id="list-action"></div>
        </div>
    </div>
{% endmacro %}

{% macro renderTemplates(mode) %}
    <script type="text/template" id="action-general-view">
        <span class="editable"><%= types[attrs.type].name %></span> notification by
        <span class="editable"><%= notifications[attrs.notification].name %></span> to
        <span class="editable"><%= addressees[attrs.addressee].name %></span>
    </script>

    <script type="text/template" id="action-general-edit">
        <div class="selector" style="width: 72px;">
            <span><%= types[attrs.type].name %></span>
            <select data-property="type">
                <% _.each(types, function(item, key) { %>
                <option
                <% if (attrs.type == key) { %> selected <% } %> value="<%= key %>"><%= item.name %></option>
                <%}) %>
            </select>
        </div>
        notification by
        <div class="selector" style="width: 72px;">
            <span><%= notifications[attrs.notification].name %></span>
            <select data-property="notification">
                <% _.each(notifications, function(item, key) { %>
                <option
                <% if (attrs.notification == key) { %> selected <% } %> value="<%= key %>"><%= item.name %></option>
                <%}) %>
            </select>
        </div>
        to
        <div class="selector" style="width: 72px;">
            <span><%= addressees[attrs.addressee].name %></span>
            <select  data-property="addressee">
                <% _.each(addressees, function(item, key) { %>
                <option
                <% if (attrs.addressee == key) { %> selected <% } %> value="<%= key %>"><%= item.name %></option>
                <%}) %>
            </select>
        </div>
    </script>

    <script type="text/template" id="action-update-view">
        <span class="editable"><%= types[attrs.type].name %></span>
        <span class="editable"><%= targets[attrs.target].name %></span> property
        <span class="editable"><%= targets[attrs.target].properties[attrs.property] %></span> to
        <span class="editable"><%= attrs.value %></span>
    </script>

    <script type="text/template" id="action-update-edit">
        <div class="selector" style="width: 72px;">
            <span><%= types[attrs.type].name %></span>
            <select data-property="type">
                <% _.each(types, function(item, key) { %>
                <option
                <% if (attrs.type == key) { %> selected <% } %> value="<%= key %>"><%= item.name %></option>
                <%}) %>
            </select>
        </div>
        <div class="selector" style="width: 72px;">
            <span><%= targets[attrs.target].name %></span>
            <select data-property="target">
                <% _.each(targets, function(item, key) { %>
                <option
                <% if (attrs.target == key) { %> selected <% } %> value="<%= key %>"><%= item.name %></option>
                <%}) %>
            </select>
        </div>
        property
        <div class="selector" style="width: 72px;">
            <span><%= targets[attrs.target].properties[attrs.property] %></span>
            <select data-property="property">
                <% _.each(properties, function(item, key) { %>
                <option
                <% if (attrs.property == key) { %> selected <% } %> value="<%= key %>"><%= item %></option>
                <%}) %>
            </select>
        </div>
        to
        <input data-property="value" type="text" value="<%= attrs.value %>">
    </script>

    <script type="text/template" id="item-action">
        <div class="view-action"></div>

        <div class="edit-action x-hide"></div>

        {% if mode != 'view' %}
            <span class="delete editable">delete</span>
            <span class="save editable x-hide">save</span>
            <span class="edit editable">edit</span>
        {% endif %}
    </script>
{% endmacro %}