{% macro render() %}
    <div class="control-group">
        <div id="rule-conditions"></div>
        <ul style="list-style-type: none">
            <li><a id="add-rule-condition">Add new condition</a></li>
            <li><a id="add-rule-group">Add new group</a></li>
        </ul>
    </div>
{% endmacro %}