<div class="row">
  <a href="<%= baseUrl %>" class="logo col-md-6">
    <img src="assets/img/logo.png" alt="DiamanteDesk"/>
  </a>
  <div class="col-md-6">
    <div class="profile pull-right">
      <button class="btn btn-link dropdown-toggle" type="button" id="dropdown-profile" data-toggle="dropdown">
        Jason Flinstone
        <span class="caret"></span>
      </button>
    </div>
    <div class="quick-access pull-right">
      <div class="search-field form-group form-group-lg">
        <input type="search" class="form-control" placeholder="Search"/>
      </div>
      <div class="create-ticket form-group form-group-lg">
        <button class="btn btn btn-primary js-create-ticket">Add New Ticket</button>
      </div>
    </div>
  </div>
</div>