<span class="<% if (typeof isDeleted != 'undefined' && isDeleted) { %><%= _.escape('deleted-reporter')%><% } %>"><img src="<% if (typeof avatar !== 'undefined' && avatar) { %><%= avatar %><% } else { %>{{- asset('bundles/oroui/img/info-user.png') -}}<% } %>" width="16" height="16" />
&nbsp;<% if(typeof fullName !== 'undefined') { %><%= highlight(_.escape(fullName)) %> - <%= highlight(_.escape(email)) %> <% } %> <% if(username) { %>(<%= highlight(_.escape(username)) %>)<% } %>&nbsp;<span class="diam-user-type <%=_.escape(type)%>"><%=_.escape(type_label)%></span></span>
