<div class="diam-channels-info">
    <img class="diam-channels-image"
         src="https://assets.diamantedesk.com/images/{{ versions }}/help.png"
         title="More info"/> More info could be found in the <a
            href="http://docs.diamantedesk.com/en/latest/user-guide/channels/email-processing.html#how-to-set-up-a-support-account">
        documentation.</a>
</div>