<% if(totalPages > 1) { %>
<ul class="pagination">
  <% if(currentPage > 1) { %>
    <li class="first-page"><a class="fa fa-step-backward" href="#first"></a></li>
    <li class="prev-page"><a class="fa fa-caret-left" href="#prev"></a></li>
  <% } else { %>
    <li class="first-page disabled"><span class="fa fa-step-backward"></span></li>
    <li class="prev-page disabled"><span class="fa fa-caret-left"></span></li>
  <% } %>
  <%
    var page = 1;
    var index = 0;
    var total = totalPages;
    if(totalPages > pagePerSet) {
      total = pagePerSet;
      while(Math.ceil(total/2) < currentPage - index){
        index++;
      }
      if(totalPages < total + index) {
        index -= total + index - totalPages;
      }
      total += index;
      page += index;
    }
  %>
  <% for(; page <= total; page++){ %>
    <% if(page == currentPage) { %>
      <li class="active"><span><%= currentPage %></span></li>
    <% } else { %>
      <li class="page"><a href="#<%= page %>"><%= page %></a></li>
    <% } %>
  <% } %>
  <% if(currentPage !== lastPage) { %>
    <li class="next-page"><a class="fa fa-caret-right" href="#next"></a></li>
    <li class="last-page"><a class="fa fa-step-forward" href="#last"></a></li>
  <% } else { %>
    <li class="next-page disabled"><span class="fa fa-caret-right"></span></li>
    <li class="last-page disabled"><span class="fa fa-step-forward"></span></li>
  <% } %>
</ul>
<% } %>