#footer {
  background: @footer-bg;
  .container {
    color: @footer-color;
    background: @footer-bg;
    position: relative;
    min-height: @footer-height;
    margin-top: -@footer-height;
    padding: 35px @main-gutter 0;
  }
  a {
    color: @footer-color;
    &:visited {
      color: @footer-color;
    }
  }
  .text-muted {
    color: @footer-color;
    opacity: .5;
  }
}