.wrap {
  height: 100%;
}

#main {
  position: relative;
  padding: (@header-height + @main-gutter) @main-gutter (@main-gutter + @footer-height);
  background: #fff;
  min-height: 100%;
  @media (max-width: @screen-xs-max) {
    padding-top: @header-mobile-height + @main-gutter;
    padding-left: 0;
    padding-right: 0;
  }
}

