<label class="dropzone-label hidden-xs" for="dropzone-input">Drop files here<br> to attach</label>
<label class="dropzone-label visible-xs" for="dropzone-input">Click here to attach files</label>
<input type="file" name="attachmentsInput[]" class="dropzone-input" multiple />
<div class="progress dropzone-progress dropzone-progress-reading">
  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
  <span class="dropzone-progress-label"><i class="fa fa-cog fa-spin"></i> Reading... </span>
</div>
<div class="progress dropzone-progress dropzone-progress-sending">
  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
  <span class="dropzone-progress-label"><i class="fa fa-cog fa-spin"></i> Sending... </span>
</div>
<div class="progress dropzone-progress dropzone-progress-receiving">
  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
  <span class="dropzone-progress-label"><i class="fa fa-cog fa-spin"></i> Receiving... </span>
</div>