.container-fluid > .diam-plot {
  margin: 0 20px;
}

.diam-plot svg{
  width: 100%;
  height: 100%;
}

.diam-plot .bar {
  fill: #5EBCD2;
}

.diam-plot .bar:hover {
  fill-opacity: .8;
}

.empty-widget, .empty-report {
  width: 75%;
  margin: auto;
  text-align: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 250%;
  line-height: 1.25;

}

.empty-widget {
  top: 50%;
}

.empty-report {
  top: 38%;
}

.container-fluid, .widget-content {
  position: relative;
}

.diam-plot .axis {
  font: 10px sans-serif;
}

.diam-plot .axis path,
.diam-plot .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.diam-plot .x.axis path {
  display: none;
}


.diam-d3-tip {

}
.diam-d3-tip:after {

}
.diam-d3-tip.n:after {

}

.diam-d3-tip ul{
  list-style: none;
  padding: 0;
  text-align: left;
  margin:5px 0 0;
}

.diam-d3-tip .color-label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  vertical-align: middle;
  margin-right: 1ex;
}


.diam-plot .lines polyline {
  fill:none;
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
}

.diam-plot .slice:hover {
  fill-opacity: .5;
}

.diam-plot .line {
  fill: none;
  stroke: #5EBCD2;
  stroke-width: 2px;
}


.diam-plot .brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.diam-plot .tooltip-holder rect {
  opacity: 0;
}

.diam-plot .tooltip-holder line {
  stroke: #000;
  stroke-width: 1px;
  stroke-dasharray: 10,10;
  opacity: .1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.diam-plot .tooltip-holder:hover line {
  opacity: .5;
}

.diam .legend {
  font: 12px sans-serif;
}

.diam-plot .legend-block {
  fill-opacity: .5;
  rx: 5;
  ry: 5;
}

.diam-plot .legend text {
  fill: #fff;
  text-transform: capitalize;
}

.dashboard-widgets-wrapper .dashboard-widget-container .dashboard-widget-small-column:nth-child(2) {
  width: 50px;
}

.dashboard-widgets-wrapper .dashboard-widget-container .dashboard-widget-icon {
  width: 100%;
  height: auto;
}
