<% 'TEMPLATE: automation-template' %>
<% if(time_interval) { %>
<div class="control-group">
    <div class="control-label wrap">
        <label for="automation-time_interval">Frequency</label>
    </div>
    <div class="controls">
        <strong class="value"><%= config.time_intervals[time_interval] %></strong>
    </div>
</div>
<% } %>
<div id="automation-conditions"></div>
<div id="automation-actions"></div>