<button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
  <span class="user-name"><%= fullName %></span><span class="caret"></span>
</button>
<div class="dropdown-menu dropdown-menu-right" id="dropdown-profile"></div>
