<button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
  <%= first_name %> <%= last_name %><span class="caret"></span>
</button>
<div class="dropdown-menu dropdown-menu-right" id="dropdown-profile"></div>
