<ul class="attachment-tools pull-right">
    <li><button class="btn btn-link js-delete-attachment" title="Delete Comment"><i class="fa
    fa-times"></i></button></li>
</ul>
<a href="<%= link %>" title="Download: <%= filename %>"><%= filename %></a>

