<div class="controls">
    <% var entities = config.entities; %>
    <select name="conditions[entity]" id="automation-conditions-entity">
        <% for(var key in entities) { %>
        <option value="<%= key %>"<%= key == entity ? ' selected' : ''%>><%= entities[key].label %></option>
        <% } %>
    </select>
    <div class="pull-right">
        <div class="btn-group">
            <button type="button" class="btn btn-danger" data-action="delete">
                Delete
            </button>
        </div>
    </div>
</div>