<div class="control-group">
    <div class="control-label wrap">
        <label for="automation-conditions-entity">Conditions</label>
    </div>
    <div class="conditions-list">

    </div>
    <div class="pull-right">
        <div class="btn-group">
            <button type="button" class="btn btn-success" data-action="add-group">
                Add Group
            </button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-success" data-action="add-item">
                Add Conditions
            </button>
        </div>
    </div>
</div>