<% if(timeInterval) { %>
<div class="control-group">
    <div class="control-label wrap">
        <label for="automation-timeInterval" class="required">Frequency<em>*</em></label>
    </div>
    <div class="controls">
        <%= config.time_intervals[timeInterval] %>
    </div>
</div>
<% } %>
<div id="automation-conditions"></div>
<div id="automation-actions"></div>