<% 'TEMPLATE: automation-template' %>
<% if(timeInterval) { %>
<div class="control-group">
    <div class="control-label wrap">
        <label for="automation-timeInterval">Frequency</label>
    </div>
    <div class="controls">
        <strong><%= config.time_intervals[timeInterval] %></strong>
    </div>
</div>
<% } %>
<div class="control-group">
    <div class="control-label wrap">
        <label for="automation-target">Target</label>
    </div>
    <div class="controls">
        <strong><%= config.entities[target].label %></strong>
    </div>
</div>
<div id="automation-conditions"></div>
<div id="automation-actions"></div>