<a href="<%= baseUrl %>" class="logo">
    <img src="<%= basePath %>/bundles/diamantefront/img/logo.png" alt="DiamanteDesk"/>
</a>
<form role="form">
    <div class="form-group">
        <a class="register pull-right" href="#registration">Registration</a>
        <label class="control-label" for="email">Email</label>
        <input type="text"
               class="form-control input-lg"
               id="email" name="email"
               tabindex="1" placeholder="Enter Email">
    </div>
    <div class="form-group">
        <a class="forgot pull-right" href="#resetpassword">Amnesia?</a>
        <label class="control-label" for="password">Password</label>
        <input type="password"
               class="form-control input-lg"
               name="password" id="password"
               tabindex="2" placeholder="Password">
    </div>
    <div class="checkbox">
        <label>
            <input name="remember" id="remember" type="checkbox" tabindex="3"> Remember me
        </label>
    </div>
    <p>
        <button type="submit" class="btn btn-lg btn-primary js-submit" tabindex="4">Sign In</button>
    </p>
</form>
