<% if(!hasParent) { %>
<div class="control-label wrap">
    <label for="automation-conditions-entity">Conditions</label>
</div>
<% } %>
<select name="groupings[connector]" class="groupings-connector" data-attr="connector">
    <% for(var key in config.connectors) { %>
    <option value="<%= key %>"><%= config.connectors[key] %></option>
    <% } %>
</select>
<div class="grouping-list">

</div>
<div class="groupings-buttons pull-right">
    <div class="btn-group">
        <button type="button" class="btn btn-success" data-action="add-group">
            Add Group
        </button>
    </div>
    <% if(!hasChildren) { %>
    <div class="btn-group">
        <button type="button" class="btn btn-success" data-action="add-item">
            Add Conditions
        </button>
    </div>
    <% } %>
    <% if(hasParent) { %>
    <div class="btn-group">
        <button type="button" class="btn btn-danger" data-action="delete-group">
            Delete
        </button>
    </div>
    <% } %>
</div>