<form action="/" role="form">
  <div class="form-group">
    <label class="control-label" for="first_name">First Name</label>
    <input type="text" class="form-control"
           id="first_name" name="first_name"
           value="<%= first_name %>">
  </div>
  <div class="form-group">
    <label class="control-label" for="last_name">Last Name</label>
        <input type="text" class="form-control"
               id="last_name" name="last_name"
               value="<%= last_name %>">
  </div>
  <div class="form-group">
    <label class="control-label" for="last_name">New Password</label>
    <input type="password" class="form-control"
           id="password" name="password">
  </div>
  <button type="submit" class="btn btn-primary btn-block js-submit">Submit</button>
</form>