<div class="user-wrapper">
  <ul class="user-actions">
    <li class="user-action">
      <a href="#user/edit" class="user-edit js-edit-user">
        <img src="<%=avatar_url %>?s=40&d=identicon"
             class="user-image"
             onerror="this.className += ' offline'"
             alt="<%=first_name %> <%=last_name %>" />
        <i class="fa fa-user"></i>
      </a>
    </li>
    <li class="user-action">
      <a href="#" class="user-logout js-logout" title="<%= __('diamante_front.user.template.logout') %>"><i class="fa fa-power-off"></i></a>
    </li>
  </ul>
</div>
