<% if(!hasParent) { %>
<div class="control-label wrap">
    <label for="automation-conditions-entity">Conditions</label>
</div>
<% } %>
<div class="groupings-connector">
    <strong class="value"><%= config.connectors[connector] %></strong>
</div>
<div class="grouping-list">

</div>