    <a href="<%= baseUrl %>" class="logo">
        <img src="assets/img/logo.png" alt="DiamanteDesk"/>
    </a>
    <form role="form">
        <div class="form-group">
            <label for="username">Login</label>
            <input type="text" class="form-control input-lg" id="username" name="username" placeholder="Enter Login">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control input-lg" name="password" id="password" placeholder="Password">
        </div>
        <div class="checkbox">
            <label>
                <input name="remember" id="remember" type="checkbox"> Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block js-submit">Submit</button>
    </form>