<form action="/" role="form">
    <div class="form-group">
        <textarea class="form-control" name="content" id="comment-content" rows="4"><%= content %></textarea>
    </div>
    <% if(!content){ %>
    <button type="submit" class="btn btn-primary js-add-comment js-submit">Add Comment</button>
    <% } else { %>
    <button type="submit" class="btn btn-primary js-edit-comment js-submit">Edit Comment</button>
    <% } %>
</form>
