<form action="/" role="form">
    <div class="form-group">
        <textarea class="form-control" name="content" id="comment-content" rows="4"></textarea>
    </div>
    <button type="submit" class="btn btn-primary js-add-comment js-submit">Add Comment</button>
</form>
