<% if(isAuthor) {%>
<ul class="comment-tools pull-right">
    <li><button class="btn btn-link js-edit-comment" title="Edit Comment"><i class="fa fa-pencil"></i></button></li>
    <li><button class="btn btn-link js-delete-comment" title="Delete Comment"><i class="fa fa-times"></i></button></li>
</ul>
<% } %>
<strong>
    <% if(typeof authorName !== 'undefined') { %>
    <%= authorName  %>
    <% } else { %>
    Loading...
    <% } %>
</strong> <%= content %>
<p><small><%= created %></small></p>
<% if(attachments && attachments.length) { %>
<div class="comment-attachments-block">
  <strong>File attachments:</strong>
  <ul class="comment-attachments">
    <% _.each(attachments, function(attachment){ %>
    <li><%= attachment.filename %></li>
    <% }); %>
  </ul>
</div>
<% } %>