.user-wrapper {
  margin: 40px 0 0;
  position: relative;
  height: 40px;
  .user-actions {
    list-style: none;
    margin: 0;
    padding: 0;
    .user-action {
      display: block;
    }

    .user-edit {
      color: #fff;
      display: inline-block;
      border-radius: 20px;
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 0;
      height: 40px;
      width: 40px;
      vertical-align: bottom;
      z-index: 2;
      -webkit-transition: right .3s ease-out;
      transition: right .3s ease-out;
      .fa {
        opacity: 0;
        text-align: center;
        font-size: 24px;
        line-height: 40px;
        height: 40px;
        width: 40px;
        vertical-align: bottom;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        -webkit-transition: opacity .2s ease-out;
        transition: opacity .2s ease-out;
      }
      &:before {
        content: '';
        background: #000;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 40px;
        width: 40px;
      }
      img.offline {
        display: none;
        & + .fa {
          opacity: .7;
          background: #000;
        }
      }
    }

    .user-logout {
      color: #fff;
      background: #47747e;
      border-radius: 20px;
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 0;
      height: 40px;
      width: 40px;
      text-align: right;
      -webkit-transition: width .3s ease-out;
      transition: width .3s ease-out;
      .fa {
        opacity: .5;
        text-align: center;
        font-size: 24px;
        line-height: 40px;
        height: 40px;
        width: 40px;
        float:left;
        vertical-align: bottom;
        -webkit-transition: opacity .2s ease-out;
        transition: opacity .2s ease-out;
      }
      &:hover {
        .fa {
          opacity: 1;
        }
      }
    }

    &:hover {
      .user-edit {
        &:before {
          opacity: .7;
        }
        .fa {
          opacity: .5;
        }
        &:hover {
          .fa {
            opacity: 1;
          }
        }
      }
      .user-logout {
        width: 80px;
      }
    }
  }
}


.profile{
  .loading {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    margin: 1px 0;
    .button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; @border-radius-base);
  }
  .btn-link {
    padding-left: 0;
    padding-right: 0;
    .caret {
      margin-left: 1ex;
    }
  }
}

.profile-view,
.profile-edit {
}

.user-meta {
  &:extend(.clearfix all);
  padding-left: 64 + @grid-gutter-width/2;
  margin-bottom: @grid-gutter-width/2;
}

.dropdown-menu {
  .loader {
    position: absolute;
    font-size: 1em;
    &:only-child {
      position: relative;
      > div {
        box-shadow: none;
      }
    }
  }
}

.profile-edit {
  .user-avatar {
    border-radius: 50px;
    margin: 35px auto;
    overflow: hidden;
    width: 100px;
  }
}
