<a href="<%= baseUrl %>" class="logo">
    <img src="<%= basePath %>/bundles/diamantefront/img/logo.png" alt="DiamanteDesk"/>
</a>
<form role="form">
    <div class="form-group">
        <label class="control-label" for="email">Email</label>
        <input type="text" class="form-control input-lg" id="email" name="email" placeholder="Enter Email">
    </div>
    <div class="form-group">
        <label class="control-label" for="password">Password</label>
        <input type="password" class="form-control input-lg" name="password" id="password" placeholder="Password">
    </div>
    <a class="forgot pull-right" href="#resetpassword">Forgot Password</a>
    <div class="checkbox">
        <label>
            <input name="remember" id="remember" type="checkbox"> Remember me
        </label>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block js-submit">Sign In</button>
    <p>Don't have account? &mdash; <a href="#registration">Registration</a></p>
</form>
