<a href="<%= baseUrl %>" class="logo">
    <img src="<%= basePath %>/bundles/diamantefront/img/logo.png" alt="DiamanteDesk"/>
</a>
<form role="form">
    <div class="form-group">
        <label class="control-label" for="username">Login</label>
        <input type="text" class="form-control input-lg" id="username" name="username" placeholder="Enter Login">
    </div>
    <div class="form-group">
        <label class="control-label" for="email">Email</label>
        <input type="email" class="form-control input-lg" id="email" name="email" placeholder="Enter Email">
    </div>
    <div class="form-group">
        <label class="control-label" for="password">Password</label>
        <input type="password" class="form-control input-lg" name="password" id="password" placeholder="Password">
    </div>
    <p>Already have account? &mdash; <a href="#login">Sign in</a></p>
    <button type="submit" class="btn btn-primary btn-lg btn-block js-submit">Continue</button>
</form>
