<a href="<%= baseUrl %>" class="logo">
  <img src="<%= basePath %>/bundles/diamantefront/img/logo.png" alt="DiamanteDesk"/>
</a>
<form role="form">
  <div class="form-group">
    <label class="control-label" for="email">Email</label>
    <input type="text" class="form-control input-lg" id="email" name="email" placeholder="Enter Email">
  </div>
  <button type="submit" class="btn btn-primary btn-lg btn-block js-submit">Reset Password</button>
</form>
